html {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
  background-color: black;
}

/* navbar */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.navbar {
  height: 90px;
  width: 100%;
  background-color: black;
  align-items: center;
  display: flex;
}

.navbar h1 {
  color: white;
  width: 100%;
  font-size: 25px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.navigation a {
  text-decoration: none;
  color: lightgrey;
  display: flex;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
}

/* end navbar */

.background-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/bkg.jpg);
  background-size: cover;
  height: 800px;
}

.join-btn {
  /* background-color: black; */
  color: white;
  height: 80px;
  width: 240px;
  border: solid 1px #009acd;
  font-size: 25px;
  letter-spacing: 4px;
  border-radius: 30px;
  background: linear-gradient(to left, black, grey) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.join-btn:hover {
  background-position: left;
  border: solid 1px lightgrey;
}

.icon {
  display: flex;
  width: 10%;
  justify-content: center;
}

.fa-solid {
  color: #009acd;
}

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 500px;
  width: 100%;
}

.about h1 {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
}

.about hr {
  width: 8%;
  border: solid 2px #009acd;
}

.about p {
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin-top: 20px;
  width: 60%;
  text-align: center;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 100%;
}

.card2 {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.card1 {
  background-size: 300px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.card3 {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.card1:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

.card2:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

.card3:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  background-color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  height: 150px;
  border: solid 1px #009acd;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: none;
  width: 80%;
  color: grey;
}

.footer-header {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
}

.footer-header h1 {
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 300;
}

.footer-header hr {
  width: 90%;
  border: none;
  height: 1px;
  background-color: lightgrey;
}

.copyright {
  display: flex;
  align-items: center;
  height: 30%;
}

.copyright span {
  margin-right: 4px;
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.copyright a {
  margin-left: 4px;
  font-size: 12px;
  font-weight: 300;
  color: lightgray;
  text-decoration: none;
}

.copyright img {
  width: 18px;
  height: 18px;
  margin-left: 4px;
}
