* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, black 40%, red) fixed;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72%;
  width: 100%;
  position: absolute;
  
}

.form {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  width: 400px;
  height: 450px;
  border: 1px solid #ddd;
}

.input-header {
  text-align: center;
  margin-bottom: 30px;
}
.input-header h1 {
  font-size: 30px;
  font-weight: bold;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  flex: 1;
  outline: none;
  border: 2px solid whitesmoke;
  padding: 8px;
  margin-bottom: 15px;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  flex: 1;
  color: white;
  font-weight: bold;
  height: 45px;
  border-radius: 20px;
  background-color: black;
  border: solid 2px #009ACD;
  cursor: pointer;
}

.btn:hover {
  color: grey;
  border: solid 2px grey;
}
.fgpw a {
  text-decoration: none;
  color: grey;
}

.form-footer {
  text-align: center;
}

.form-footer h1 {
  color: grey;
}

.form-footer a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.parag {
  color: red;
  font-size: 10px;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:20%;
  
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 15px;
}

#icon{
  color:#009ACD	;
}