/* navbar */

html {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.navbar {
  height: 90px;
  width: 100%;
  background-color: black;
  align-items: center;
  display: flex;
  list-style-type: none;
}

.navbar h1 {
  color: white;
  width: 100%;
  font-size: 25px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: lightgrey;
  display: flex;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
}

.fa-solid {
  color: #009acd;
}

.icon {
  display: flex;
  width: 10%;
  justify-content: center;
}

/* end navbar */

.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 400px;
}



.album img {
  border-radius: 30px;
  height: 300px;
  width: 300px;
}

.album img:hover{
  border: solid white 4px;
}

.album h1 {
  justify-content: center;
}

.album p {
  display: none;
}

.account-header {
  display: flex;
  justify-content: end;
}

.credits {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.credits p {
  display: flex;
  justify-content: end;
  width: 90%;
  font-size: 3vh;
}

.buy-button {
  display: flex;
  justify-content: end;
  width: 90%;
}

.buy-button button {
  font-family: Oswald;
  font-weight: 300;
  padding: 1%;
  font-size: 2vh;
  width: 15vh;
  color: white;
  background-color: black;
  border: solid 0.2vh #009acd;
  border-radius: 1vh;
}

.buy-button button:hover {
  background-color: #565656;
  border: solid 0.2vh white;
}

.album-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1%;
  height: 30vh;
}

.album-name {
  font-size: 4vh;
}

.album-buttons {
  white-space:nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 20%;
}

.album-buttons button {
  margin: 0px 5px 0px 5px;
  padding: 4%;
  width: 40em;
  height: 3em;
  font-family: Oswald;
  font-weight: 300;
  font-size: 2vh;
  color: white;
  background-color: black;
  border: solid 0.2vh #009acd;
  border-radius: 1vh;
}

.album-buttons button:hover {
  background-color: #565656;
  border: solid 0.2vh white;
}
